<section class="page-top-section set-bg" data-setbg="img/page-top-bg/3.jpg">
    <div class="page-info">
        <h2>Blog</h2>
        <div class="site-breadcrumb">
            <a href="">Home</a>  /
            <span>Blog</span>
        </div>
    </div>
</section>