<ul class="page-pagination">
    <li class="site-pagination"></li>
    <li> <a href="#" class="active">01.</a></li>
    <li> <a href="#">02.</a></li>
    <li> <a href="#">03.</a></li>
    <li class="read-more"><a href="#"><i class="img/icons/double-arrow.png"></i></a></li>
</ul>

